<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="DEVICE_NAME" value="Test" />
    <add key="OPERATING_SYSTEM" value="" />   <!--/android/ios/any-->
    <add key="EXECUTIONMODE" value="" />  <!--Local/Cloud-->
    <add key="DRIVERPATH" value="" />   <!--Automation_Tools-->
    <add key="ACTIVITY" value=""/>
    <add key="DEVICE" value=""/>
    <add key="APP_PATH" value="" />
    <add key="PACKAGE" value =""/>
    <add key="PLATFORM" value =""/>
    <add key="PORT_NO" value =""/>
    <add key="SERVER_IP" value =""/>
    
    
    <add key="REMOTE_HUB_IP_Desktop" value="" />
    <add key="REMOTE_HUB_IP_Mobile" value="" />
    <add key="BROWSER" value="chrome" />
    <add key="WaitTime" value="30" />
    <add key="CommandTimeout" value="60*5" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="PRODUCT" value="cmw" />
    <add key="ENVIRONMENT" value="Debug" />
    <add key="URL" value="" />
    <add key="UMBRACOURL" value="" />
    <add key="ADMINCONSOLEURL" value="" />
    <add key="CLICKANDCOLLECTPORTALURL" value="" />
    <add key="SITEMANAGEMENTURL" value="" />
    <add key="ECFURL" value="" />
  </appSettings>
    <connectionStrings>
     </connectionStrings>
  <system.net>
    <defaultProxy useDefaultCredentials="true" enabled="true">
      <proxy usesystemdefault="True" />
    </defaultProxy>
  </system.net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.QualityTools.UnitTestFramework" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>